.search-page {
  background: #ffffff;
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
}

.search-page-header {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}

.search-page-title {
  font-size: 3.5rem;
  font-weight: 200;
  line-height: 4rem;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  padding-left: 16px;
}

.search-page-content {
  top: 50vh;
  width: 100%;
  height: 100px;
  display: flex;
  position: absolute;
  justify-content: center;

  transition: all 0.6s;
}

.search-page-header img {
  width: 128px;
  height: 128px;
  box-shadow: 1px 4px 22px -7px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.has-user {
  top: 5vh !important;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .expanded {
    height: 110vh;
  }

  .search-page-header {
    padding-top: 28vh;
  }

  .search-page-title {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }

  .search-page-header img {
    width: 72px;
    height: 72px;
  }

  .search-page-content {
    top: 45vh;
  }
}

.modal-title {
  color: #222222;
}

.modal-title i {
  padding-right: 4px;
}
