.hidden {
  display: none;
}

.github-cover {
  position: relative;
  top: -30%;
  width: 128px;
  opacity: 1;
  box-shadow: 1px 4px 22px -7px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.search-page-title {
  position: relative;
  font-size: 3.5rem;
  font-weight: 200;
  top: -28%;
  line-height: 4rem;
  width: 30vw;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  padding-left: 16px;
}

.search-page {
  background: #ffffff;
  /* background: linear-gradient(0deg, rgba(15,52,64,1) 0%, rgb(52, 231, 145) 55%); */
  /* background-image: url(../../images/github.jpg);
  background-size: 100vw;
  background-position: center; */
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-card {
  background-color: #ffffff;
  display: flex;
  color: #353535;
  width: 50vw;
  height: 0;
  opacity: 0;
  z-index: -1;
  top: 32vh;
  position: absolute;
  justify-content: center;
  padding-top: 80px;

  box-shadow: 1px 4px 22px -7px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  transition: opacity 0.6s ease-in 0.4s;
}

.visible {
  opacity: 1;
  height: 60vh;
  z-index: 0;
}

.user-avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  top: -75px;
  text-align: center;
  box-shadow: 1px 4px 22px -7px rgba(0, 0, 0, 0.3);
}

.top-bar {
  width: 100%;
  height: 8px;
  top: 0;
  position: absolute;
  background: radial-gradient(circle at 50%, #ffffff, #eeeeee, #cccccc);
  border-radius: 10px 10px 0 0;
}

/* .top-bar::after {
  content: "";
  display: block;
  width: 80%;
  left: 10%;
  height: 1px;
  position: relative;
  top: 100%;
  background: radial-gradient(
    ellipse at center,
    #dee4ef 0,
    hsla(0, 0%, 100%, 0) 80%
  );
} */

.card-content {
  width: 100%;
  padding: 0 54px;
  display: flex;
  flex-direction: column;
}

.card-content .icon {
  font-size: 1rem;
  color: #bbbbbb;
}

.content-title {
  border-bottom: 1px solid #eeeeee;
  text-align: center;
}

.content-title > h2 {
  margin: 0;
}

.content-title > p {
  margin: 0 0 12px 0;
}

.content-containers {
  display: flex;
  padding-top: 24px;
  justify-content: space-around;
}

.content-left-container > div,
.content-right-container > div {
  margin-bottom: 16px;
}

.content-links {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
}

.button {
  height: 48px;
  width: 164px;
  border: none;
  background: #1178da;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 1px 4px 22px -7px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.button:hover {
  background: #0e65b6;
  transition: all 0.4s;
}

.repo {
  display: flex;
  padding: 12px 4px;
  border-bottom: 1px solid #eeeeee;
}

.repo-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.repo-description,
.repo-last-update {
  color: #999999;
  font-size: 0.9rem;
}

.repo-left-container {
  width: 60%;
}

.repo-right-container {
  width: 40%;
  display: flex;
  align-items: flex-start;
  padding-top: 8px;
}

.public-tag {
  font-weight: normal !important;
  border-radius: 8px !important;
}

.default-tag {
  border-radius: 8px !important;
  padding: 4px 12px !important;
  font-weight: 500 !important;
  width: fit-content !important;
}

@media only screen and (max-width: 600px) {
  .user-card {
    width: 90vw;
  }

  .content-containers {
    flex-direction: column;
  }

  .card-content {
    padding: 0 36px;
  }
}
