.user-page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.user-page-left-container {
  margin-left: 40px;
  position: fixed;
}

.user-page-right-container {
  position: relative;
  left: calc(380px + 80px);
  top: 12vh;

  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  width: calc(100vw - 380px - 80px - 60px);
  height: fit-content;

  box-shadow: 1px 4px 22px -7px rgba(0, 0, 0, 0.15);
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #222222 !important;
}

.ant-tabs-tab {
  color: #888888 !important;
}

.ant-tabs-ink-bar {
  background: #222222 !important;
}

@media only screen and (max-width: 768px) {
  .user-page {
    flex-direction: column;
    align-items: center;
  }

  .user-page-left-container {
    margin-left: 0 !important;
    position: relative;
  }

  .user-page-right-container {
    position: relative;
    left: 0 !important;
    top: calc(12vh + 20px) !important;

    width: 90vw !important;
  }

  .expanded {
    height: 110vh;
  }

  .card {
    top: 15vh !important;
  }
}

@media only screen and (max-width: 1024px) {
  .user-page-left-container {
    margin-left: 20px;
  }

  .user-page-right-container {
    left: calc(300px + 40px);
    width: calc(100vw - 300px - 60px - 20px);
  }
}
